<!DOCTYPE html>

<html>
  <head>
    <title>Bannastre's Python Blog</title>
  </head>
  <body>
    <h1>Blogging with Python</h1>
    <ul>
      <li>
        <p>published 15 Jan 2019</p>
      </li>
      <a href='https://medium.com/@bannastre/hello-world-ee5b66dc2a44'><h3>Hello World!</h3></a>
      <a href='https://github.com/bannastre/CV'><h3>About me</h3></a>
      <li>
        <p>published 17 Jan 2019</p>
      </li>
      <a href='https://www.youtube.com/watch?v=oHg5SJYRHA0'><h3>Another exciting installment of...</h3></a>
    </ul>
  </body>
</html>